---
layout: default
title: שולחנות שפתחתי
description:
---
<div class="container">
  <div class="page-head">
    <h1 class="page-title">{% if page.title %}{{ page.title }}{% else %}{{ site.data.settings.projects__settings.projects__title }}{% endif %}</h1>
    {% if page.description %}
      <p class="page-description">{{ page.description }}</p>
    {% else site.data.settings.projects__settings.projects__description %}
      <p class="page-description">{{ site.data.settings.projects__settings.projects__description }}</p>
    {% endif %}
  </div>
</div>

<div class="projects-page container animate">
  <div class="row">
    {% for project in site.projects reversed %}
      <article class="project col col-4 col-d-6 col-t-12">
        <div class="project__content">
          <a href="#" class="project__image">
            <img class="lazy" data-src="{{ project.image }}" alt="{{ project.title }}">
          </a>
          <div class="project__info">
            <h3 class="project__title"><a href="#">{{ project.title }}</a></h3>
            {% if project.subtitle %}
            <div class="project__subtitle">{{ project.subtitle }}</div>
            {% endif %}
          </div>
        </div>
      </article>
    {% endfor %}
  </div>
  <div class="row m-t-4">
    <div class="col col-12">
      
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#example-menu" type="button" role="tab" aria-controls="home" aria-selected="true">תפריט לדוגמא</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="gluent-tab" data-bs-toggle="tab" data-bs-target="#gluten-free-menu" type="button" role="tab" aria-controls="profile" aria-selected="false">תפריט ללא גלוטן</button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="example-menu" role="tabpanel" aria-labelledby="home-tab">
          <img class="m-t-2 menu-border" loading="lazy" src="/images/menu-example.jpg" />
        </div>
        <div class="tab-pane fade show active" id="gluten-free-menu" role="tabpanel" aria-labelledby="gluent-tab">
          <img class="m-t-2 menu-border" loading="lazy" src="/images/gluten-free-menu.jpg" />
        </div>
      </div>

    </div>
    
  </div>
</div>


