<!-- begin footer -->
<footer class="footer">

  <!-- <div class="footer__gallery">
    {% if site.data.settings.gallery %}
    <div class="gallery">
      {% for image in site.data.settings.gallery.gallery__images %}
      <div class="gallery__image">
        <img src="{{site.baseurl}}{{image.url}}" alt="{{image.alt}}" loading="lazy">
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div> -->

  <div class="container">
    <div class="row">
      <div class="col-12">

        <div class="footer__inner">
          <div class="container">
            <div class="row">
      
              <div class="col col-10 col-d-12">
                <div class="footer__author">
                  <div class="footer__author-avatar">
                    <img class="lazy" data-src="{{site.data.settings.logo_full}}" alt="{{site.data.settings.author.author__name}}">
                  </div>
                  <div class="footer__author-info">
                    <h3 class="footer__author-name">בינושקה שולחנות אירוח</h3>
                    <p class="footer__author-bio">

                                              
                    </p>
                    <p>
                    {% include social-nav.html %}
                    </p>
                  </div>
                </div>
              </div>
      
              <div class="col col-2 col-d-12">
                <div class="footer__nav">
                  <ul class="footer__nav-list list-reset">
                    {% for item in site.data.settings.footer_menu__settings.menu__items %}
                    <li class="footer__nav-item">
                      <a href="{{ item.url | relative_url }}" class="footer__nav-link">{{ item.title }}</a>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
      
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="footer__info">
          <div class="footer__info-box">
            <div class="copyright">{{site.time | date: '%Y'}} &copy; <a href="/">{{site.data.settings.title}}</a></div>
            <div class="top" title="Top"><i class="ion ion-ios-arrow-up"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>
<!-- end footer -->