<!-- begin hero -->
<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col col-12">
    
    <h3 class="hero__title">{{ site.data.settings.hero.hero__title }}</h3>

    </div>
    </div>  

    <div class="row">
      <div class="col col-12 only-non-mobile">
        <img class="lazy hero__image" data-src="/images/hero2.png" alt="{{site.data.settings.author.author__name}}'s Picture">
      </div>
      <div class="col col-12 only-mobile">
        <img class="lazy hero__image" data-src="/images/hero3.png" alt="{{site.data.settings.author.author__name}}'s Picture">
      </div>
    </div>
  </div>

</section>
<!-- end hero -->